    <div class="invert-box">
        <a href="#" class="invert-image">
            <img src="/files/images/icons/invert-button/INVERT@300x.png"/>
        </a>
        <span class="invert-text">invert</span>
    </div>