    <div class="hexagon">
        <div class="liposome-container">
            <video class="liposome-video" infinite muted inline poster="">
                <source class="liposome-exposition loading" src="/files/images/Expositions/Attributions.mp4" type="video/mp4">
            </video>
            <img class="static-image" src="/files/images/Expositions/static.png"/>
        </div>
    </div>