<header class="header-area">
    <nav class="navigation">
        <div class="back">
            <a href="index.html"><img class="back-icon" src="files/images/icons/navigation-icons/back.png"/></a>
        </div>
        <ul class="navigation-list">
            <li id="project-list-item" class="navigation-list-item">
                <a class="navigation-list-item-anchor" href="Project.html">
                    <div class="image-container">
                        <img class="image-logo" src="files/images/icons/navigation-icons/Project@300x.png">
                    </div>
                    <span class="image-logo-text">project</span>
                </a>
            </li>
            <li id="parts-list-item" class="navigation-list-item">
                <a class="navigation-list-item-anchor" href="#">
                    <div class="image-container">
                        <img class="image-logo" src="files/images/icons/navigation-icons/PARTS@300x.png">
                    </div>
                        <span class="image-logo-text">parts</span>
                </a>
            </li>
            <li id="notebook-list-item" class="navigation-list-item">
                <a class="navigation-list-item-anchor" href="#">
                    <div class="image-container">
                        <img class="image-logo" src="files/images/icons/navigation-icons/Notebook@300x.png">
                    </div>
                    <span class="image-logo-text">notebook</span>
                </a>
            </li>
            <li id="hp-list-item" class="navigation-list-item">
                <a class="navigation-list-item-anchor" href="#">
                    <div class="image-container">
                        <img class="image-logo" src="files/images/icons/navigation-icons/HumanPractices@300x.png">
                    </div>
                    <span class="image-logo-text">human practices</span>
                </a>
            </li>
            <li id="team-list-item" class="navigation-list-item">
                <a class="navigation-list-item-anchor" href="#">
                    <div class="image-container">
                        <img class="image-logo" src="files/images/icons/navigation-icons/Team@300x.png">
                    </div>
                    <span class="image-logo-text">team</span>
                </a>
            </li>
        </ul>
    </nav>
</header>