<header class="header-area">
    <div class="hamburger-menu">
        <a class="hamburger-anchor" href="#">
            <img src="files/images/icons/helper-icons/hamburger.svg"/>
        </a>
    </div>
    <div class="sidebar">
        <a class="close-anchor" href="#">
            <img class="close-icon" src="files/images/icons/helper-icons/close-icon.svg"/>
        </a>
    </div>
    <nav class="navigation">
        <ul class="navigation-list">
            <li class="navigation-list-item">
                <a class="navigation-list-item-anchor" href="#">
                    <div class="image-container">
                        <img class="image-logo" src="files/images/icons/navigation-icons/Project@300x.png">
                    </div>
                    <span class="image-logo-text">project</span>
                </a>
            </li>
            <li class="navigation-list-item">
                <a class="navigation-list-item-anchor" href="#">
                    <div class="image-container">
                        <img class="image-logo" src="files/images/icons/navigation-icons/PARTS@300x.png">
                    </div>
                        <span class="image-logo-text">parts</span>
                </a>
            </li>
            <li class="navigation-list-item">
                <a class="navigation-list-item-anchor" href="#">
                    <div class="image-container">
                        <img class="image-logo" src="files/images/icons/navigation-icons/Notebook@300x.png">
                    </div>
                    <span class="image-logo-text">notebook</span>
                </a>
            </li>
            <li class="navigation-list-item">
                <a class="navigation-list-item-anchor" href="#">
                    <div class="image-container">
                        <img class="image-logo" src="files/images/icons/navigation-icons/HumanPractices@300x.png">
                    </div>
                    <span class="image-logo-text">human practices</span>
                </a>
            </li>
            <li class="navigation-list-item">
                <a class="navigation-list-item-anchor" href="#">
                    <div class="image-container">
                        <img class="image-logo" src="files/images/icons/navigation-icons/Team@300x.png">
                    </div>
                    <span class="image-logo-text">team</span>
                </a>
            </li>
        </ul>
    </nav>
</header>