<section class="sub-menu">
    <ul class="sub-menu-ul sub-menu__project-sub-menu">
        <li class="sub-menu-li" name="Description"><a href="Project.html">Description</a></li>
        <li class="sub-menu-li" name="DesignResult"><a href="#">Design and Results</a></li>
        <li class="sub-menu-li" name="Modeling"><a href="#">Modeling</a></li>
        <li class="sub-menu-li" name="Safety"><a href="#">Safety</a></li>
        <li class="sub-menu-li" name="Proof"><a href="#">Proof of Concept</a></li>
        <li class="sub-menu-li" name="Interlab"><a href="#">InterLab</a></li>
        <li class="sub-menu-li" name="Software"><a href="#">Software</a></li>
    </ul>
    <ul class="sub-menu-ul sub-menu__parts-sub-menu">
        <li class="sub-menu-li" name="Overview"><a href="#">Overview</a></li>
        <li class="sub-menu-li" name="BasicParts"><a href="#">Basic Parts</a></li>
        <li class="sub-menu-li" name="CompositeParts"><a href="#">Composite Parts</a></li>
        <li class="sub-menu-li" name="PartCollection"><a href="#">Part Collection</a></li>
    </ul>
    <ul class="sub-menu-ul sub-menu__notebook-sub-menu">
        <li class="sub-menu-li" name="LabBook"><a href="#">Lab Book</a></li>
        <li class="sub-menu-li" name="Protocols"><a href="#">Protocols</a></li>
        <li class="sub-menu-li" name="Medals"><a href="#">Medals</a></li>
    </ul>
    <ul class="sub-menu-ul sub-menu__humanpractices-sub-menu">
        <li class="sub-menu-li" name="Silver"><a href="#">Human Practices Overview</a></li>
        <li class="sub-menu-li" name="Integrated"><a href="#">Public Engagement</a></li>
        <li class="sub-menu-li" name="Collaborations"><a href="#">Collaborations</a></li>
    </ul>
    <ul class="sub-menu-ul sub-menu__team-sub-menu">
        <li class="sub-menu-li" name="Members"><a href="#">Members</a></li>
        <li class="sub-menu-li" name="Attributions"><a href="#">Attributions</a></li>
        <li class="sub-menu-li" name="Sponsors"><a href="#">Sponsors</a></li>
    </ul>
</section>