<!DOCTYPE html>
<html lang="en">
    <head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>SynDrop - iGEM Vilnius-Lithuania 2018</title>
        <link rel="stylesheet" href="files/css/intro.css">
        <script src="http://code.jquery.com/jquery-1.11.1.min.js" integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE=" crossorigin="anonymous"></script>
    {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="logo">
                <img class="logo__image" src="files/images/icons/intro/logos/logo.png"/>
            </div>
            <div class="skip">
                <a class="skip__anchor" href="Home.html">
                    <img class="skip__image" src="files/images/icons/intro/logos/skip.png"/>
                </a>
            </div>
            <div class="canals">
                <img class="canals__lipid-image" loop="false" src=""/>
                <img class="canals__water-image" loop="false" src=""/>
                <img class="canals__oil-image" loop="false" src=""/>

                <img class="canals__image" loop="false" src="files/images/icons/intro/animation/kanalėliai-visi.gif"/>
            </div>
            <div class="buttons">
                <div class="off-button">
                    <a class="button-anchor" href="#"><img loop="false" id="lipid_phase" src="files/images/icons/intro/buttons/off-button.png" /><span class="button-text">Outer Phase</span></a>
                </div>
                <div class="off-button">
                    <a class="button-anchor" href="#"><img loop="false" id="water_phase" src="files/images/icons/intro/buttons/off-button.png" /><span class="button-text">Inner Phase</span></a>
                </div>
                <div class="off-button">
                    <a class="button-anchor" href="#"><img loop="false" id="oil_phase" src="files/images/icons/intro/buttons/off-button.png" /><span class="button-text">Lipid Phase</span></a>
                </div>
            </div>
                <div class="pulsing-logo">
                    <p class="pulsing-logo__project-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum sed orci eget eleifend 
                        Phasellus rutrum sed orci eget eleifend. Aliquam non tincidunt risus.  Phasellus rutrum sed orci eget eleifend
                        Nullam pretium eros vel dui fringilla maximus. Phasellus rutrum sed orci eget eleifend Phasellus rutrum sed orci eget eleifend
                    </p>
                    <div class="media">
                        <img class="pulsing-logo__image" src="files/images/icons/intro/animation/pulsinglogo.gif" />
                    </div>
                </div>
                                <div class="liposomes">
                    <img class="liposomes-first" src="">
            </div>
        </div>
            <script src="files/js/intro.js"></script>
    </body>
</html>