{% extends "InnerPage.html.j2" %}
{% block body %}
<h1 class="text-wall-heading">Sponsors</h1>
<div class="text-wall-area-box">
    <h2 class="text-wall-area-box-heading">Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
    <div class="scroll-area">
        <p class="text-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit modi aut eos repudiandae
            quod, illum iusto sunt soluta consectetur, ullam numquam nam, libero adipisci perspiciatis. Saepe enim
            sequi exercitationem accusamus? Aut, vel sunt, eos quidem distinctio mollitia molestiae quisquam nesciunt
            ea voluptate atque neque id harum cupiditate ab! Pariatur blanditiis quam recusandae excepturi quae?
            Perferendis, sequi. Ipsam dignissimos nesciunt delectus. Vel iusto neque, hic minima fuga cupiditate
            facilis debitis iste aliquam iure voluptatibus odio consequuntur molestiae quia possimus esse deleniti ut
            consectetur eveniet. Tenetur repudiandae, numquam molestias sequi ipsa consequuntur? Repellat quasi fugiat
            inventore, deserunt amet beatae, eveniet aliquam ipsum tempora quos sapiente? Sequi odit placeat
            temporibus. Doloremque quia quaerat, ea ex minus sit? Fugiat, explicabo aliquid! Quam, reiciendis
            veritatis. Provident veniam omnis quae magnam ipsa nisi id exercitationem, esse nihil nam veritatis quo ab
            ullam modi est sint. Porro, atque amet? Ipsam nihil aspernatur molestiae doloribus, repellendus totam eius.
        </p>
        <button class="read-more-button">Read More</button>
    </div>
</div>
<div class="pagination">
    <div class="pagination-item-wrapper">
        <a class="pagination-anchor">
            <div class="pagination-item"></div>
            <span class="pagination-text">Description</span>
        </a>
    </div>
</div>
<div class="modal">
    <div class="modal-close"></div>
    <div class="modal-content">
        <h1>Lab Book</h1>

        <div id="accordion" class="ui-accordion ui-widget ui-helper-reset" role="tablist">

            <h1 class="ui-accordion-header ui-corner-top ui-state-default ui-accordion-header-active ui-state-active ui-accordion-icons"
                role="tab" id="ui-id-1" aria-controls="ui-id-2" aria-selected="true" aria-expanded="true" tabindex="0"><span
                    class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span>Week 1</h1>
            <div style="display: block; height: 214px;" class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content ui-accordion-content-active"
                id="ui-id-2" aria-labelledby="ui-id-1" role="tabpanel" aria-hidden="false">
                <h2>Competent cell stock preparation</h2>
                <h3>Aim:</h3>
                <p>To prepare chemically competent cell stocks of E. coli strains DH5α, DH10b, TG1 and BL21.</p>
                <h3>Reagents used:</h3>
                <p><b>Table 1.</b> List of reagents used in the experiment</p>
                <table>
                    <tr>
                        <td><b>Name of reagent</b></td>
                    </tr>
                    <tr>
                        <td>Glycerol</td>
                    </tr>
                    <tr>
                        <td>LB medium</td>
                    </tr>
                    <tr>
                        <td>SOB medium</td>
                    </tr>
                    <tr>
                        <td>pBAD-MCS1 vector</td>
                    </tr>
                    <tr>
                        <td>pBAD2-MCS1 vector</td>
                    </tr>
                    <tr>
                        <td>Kanamycin</td>
                    </tr>
                    <tr>
                        <td>Chloramphenicol</td>
                    </tr>
                </table>

                <h2>Experiment description</h2>
                <p>
                    Most of the experiments require a transformation step, which cannot be executed without competent
                    cells. For our future experiments we chose E.coli strains DH5α (for most regular experiments,
                    storing plasmids), DH10b, TG1 (useful for quick transformations, because it grows faster than other
                    strains) and BL21 (for experiments associated with protein expression). Cells were prepared using
                    CaCl2 and glycerol solutions.
                </p>

                <h2>Experiment protocol</h2>
                <p>
                    <ul>
                        <li>
                            Prepare 500ml 0.1M CaCl2, 100 ml 0.1 M CaCl2 + 15% glycerol solutions and 1.6 L LB medium.
                            Autoclave them. Store in 4 °C (LB can be stored in a room temperature).
                        </li>
                        <li>
                            Inoculate a single colony of each strain in 10 ml LB. Grow overnight in 30 °C or 37 °C.
                        </li>
                        <li>
                            In the morning, transfer 4 ml of overnight culture into 400 ml LB (dilution 1:100).
                        </li>
                        <li>
                            Grow new cultures in 37 °C for 2-4 h, until the OD600 reaches 0.3-0.5 (use clear LB as a
                            blank). FROM NOW ON, EVERYTHING MUST BE KEPT COLD/ON ICE.
                        </li>
                        <li>
                            Centrifuge cells in pre-cooled (to 4 °C) Eppendorf 5810 R centrifuge at 3000 rpm for 10
                            min.
                        </li>
                        <li>
                            Decant the medium, resuspend cells in 40 ml of 0.1 M CaCl2 (resuspension is usually done in
                            10% of initial culture volume).
                        </li>
                        <li>
                            Centrifuge as in 5.
                        </li>
                        <li>
                            Decant and resuspend as in 6.
                        </li>
                        <li>
                            Centrifuge as in 5.
                        </li>
                        <li>
                            Decant and resuspend as in 6. Leave cells on ice for 3 h or more.
                        </li>
                        <li>
                            Centrifuge as in 5.
                        </li>
                        <li>
                            Decant and resuspend cells in 10 ml of 0.1 M CaCl2 + 15% glycerol solution.
                        </li>
                        <li>
                            Aliquot competent cells 100 µl/tube.
                        </li>
                        <li>
                            Store cells in -70°C.
                        </li>
                    </ul>
                </p>
                <p>
                    <i>
                        Note: for one transformation, 50 µl of cells is enough in this case. For 1 transformation per
                        tube, in step 12 resuspend cells in 20 ml of solution.
                    </i>
                </p>

                <h2>Results</h2>
                <p>
                    DH5α, TG1 and BL21 were transformed with pBAD-MCS1 and pBAD2-MCS1 vectors, negative controls were
                    made with cells without any transformed DNA.
                </p>

                <div style="display:flex; flex-direction:column">
                    <img src="files/images/labBook/Week1/figure1.jpg" style="width:400px" />
                    <p>
                        <b>Figure 1.</b> Transformed competent cells. Strain – vector pairs were chosen semi-randomly,
                        only taking antibiotic resistances in account. 50 µl of competent cells were used for
                        transformation, plates were grown in 37°C overnight.
                    </p>
                </div>

                <div style="display:flex; flex-direction:column">
                    <img src="files/images/labBook/Week1/figure2.jpg" style="width:400px" />
                    <p>
                        <b>Figure 2.</b> Negative controls. Plates are perfectly empty. Antibiotic – strain pairs and
                        growth conditions are same as in Figure 1.
                    </p>
                </div>

                <h2>Conclusions</h2>
                <p>
                    Viable E.coli DH5α, TG1 and BL21 chemically competent cells were prepared.
                </p>
            </div>


            <h1 class="ui-accordion-header ui-corner-top ui-state-default ui-accordion-header-active ui-state-active ui-accordion-icons"
                role="tab" id="ui-id-1" aria-controls="ui-id-2" aria-selected="true" aria-expanded="true" tabindex="0"><span
                    class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span>Week 2</h1>
            <div style="display: block; height: 214px;" class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content ui-accordion-content-active"
                id="ui-id-2" aria-labelledby="ui-id-1" role="tabpanel" aria-hidden="false">

                <h2>Lysate control reaction</h2>
                <h3>Aim:</h3>
                <p>To check if lysates are active and usable in the project after the transportation.</p>
                <h3>Reagents used:</h3>
                <p><b>Table 1.</b> List of reagents used in the experiment</p>
                <table>
                    <tr>
                        <td><b>Name of reagent</b></td>
                    </tr>
                    <tr>
                        <td>E.coli Lysate</td>
                    </tr>
                    <tr>
                        <td>Reaction Mix</td>
                    </tr>
                    <tr>
                        <td>Amino Acids (without Methionine)</td>
                    </tr>
                    <tr>
                        <td>Methionine</td>
                    </tr>
                    <tr>
                        <td>Reconstitution Buffer</td>
                    </tr>
                    <tr>
                        <td>Control Vector GFP</td>
                    </tr>
                    <tr>
                        <td>DNase- and RNase-free water</td>
                    </tr>
                    <tr>
                        <td>SpectraTM Multicolor Broad Range Protein Ladder (ThermoFisher scientific)</td>
                    </tr>
                    <tr>
                        <td>PageRulerTM Unstained Protein Ladder (ThermoFisher scientific)</td>
                    </tr>
                </table>

                <h2>Experiment description</h2>
                <p>
                    SDS-PAGE was run to detect GFP production.
                </p>

                <h2>Experiment protocol</h2>
                <p>
                    GFP synthesis and detection
                    <ul>
                        <li>RTSTM 100 E.coli HY Kit Manual was used
                            <ul>
                                <li>
                                    Hydrate the reagents (according to Table 2, page 16), store in -20°C after the
                                    hydration. Use the reconstruction buffer for hydrations, except for the GFP vector.
                                    Use water for the GFP vector.
                                </li>
                                <li>
                                    Mix reagents and place in 30°C for 6 h according to the <b>table 1.</b>
                                </li>
                                <li>
                                    Store tubes in 2-8°C for 24 h. (this step is optional and needed to be done, if the
                                    fluorescence is going to be measured)
                                </li>
                                <li>
                                    Mix 10 µL of reaction product and 10 µL of denaturation dye and heat for 10 min in
                                    100°C
                                </li>
                            </ul>

                        </li>
                        <li>
                            Electrophoresis gel preparation:
                            <ul>
                                <li>
                                    Wipe glass with 96% ethanol, place rubber around the rim of rounded-corner glass,
                                    put intermediates in sides (do not stuck them under rubber), place second glass on
                                    top tightly and secure with 6 clips to prevent leaking.
                                </li>
                                <li>
                                    Prepare 15% acrylamide solution according to ThermoFisher scientific and pour
                                    between glasses. Leave 2 cm for the concentration gel and pour 1-2 mL of
                                    isopropanol on top. Leave for 30 min.
                                </li>
                                <li>
                                    Pour isopropanol away and wash with water 3 times. Pour 4% acrylamide solution on
                                    top and submerge gel comb slowly. Leave for polymerization
                                </li>
                            </ul>
                        </li>
                        <li>
                            Protein electrophoresis:
                            <ul>
                                <li>
                                    Take of the clips and remove the rubber.
                                </li>
                                <li>
                                    Stabilize the glass (higher glass facing you) in electrophoresis apparatus with
                                    clips and pinch glass sheet for the other side of apparatus if one gel is done at
                                    the time.
                                </li>
                                <li>
                                    Fill the top and bottom chambers with buffer to submerge gel. Remove bubbles from
                                    between the glass with needle.
                                </li>
                                <li>
                                    Take out the gel comb and transfer the samples into wells.
                                </li>
                                <li>
                                    Run for 1-2h 200V, 43 mA, 9W.
                                </li>
                            </ul>
                        </li>
                        <li>
                            Take of the glass, submerge gel in Coomassie blue dye and leave it shaking for 30 min
                        </li>
                        <li>
                            Pour of the dye and wash gel with water.
                        </li>
                        <li>
                            Submerge in 5% acetic acid solution overnight while shaking.
                        </li>
                    </ul>
                </p>

                <p><b>Table 2.</b>GFP production using lysate</p>
                <p>
                    <table>
                        <tr>
                            <td><b>Reagent</b></td>
                            <td><b>Amount</b></td>
                        </tr>
                        <tr>
                            <td>E.coli lysate</td>
                            <td>6 µL</td>
                        </tr>
                        <tr>
                            <td>Reaction Mix</td>
                            <td>5 µL</td>
                        </tr>
                        <tr>
                            <td>Amino Acids</td>
                            <td>6 µL</td>
                        </tr>
                        <tr>
                            <td>Methionine</td>
                            <td>0.5 µL</td>
                        </tr>
                        <tr>
                            <td>Reconstitution Buffer</td>
                            <td>2.5 µL</td>
                        </tr>
                        <tr>
                            <td>DNA in water or TE buffer</td>
                            <td>0.5 µL (1 µg/1 µL)</td>
                        </tr>
                        <tr>
                            <td>DNase- and RNase-free water</td>
                            <td>4.5 µL</td>
                        </tr>
                        <tr>
                            <td><b>Total volume</b></td>
                            <td><b>25 µL</b></td>
                        </tr>
                    </table>
                </p>
                <p><i>GFP fluorescence was checked under UV lamp. Reaction mixtures showed fluorescents and SDS-PAGE
                        was done to analyse the results. </i></p>

                <h2>Results</h2>
                <div style="display:flex; flex-direction:column">
                    <img src="files/images/labBook/Week2/figure1.png" style="width:600px" />
                    <p><b>Figure 1.</b> SDS-PAGE gel. G, B1 and B2 stands for different sets of lysates. G- lysate that
                        came with dry ice, B1 and B2- lysates that came without dry ice. </p>
                </div>

                <h2>Conclusions</h2>
                <p>
                    <ul>
                        <li>All lysates are active and produced GFP </li>
                        <li>Poor transportation conditions did not affect lysates. </li>
                    </ul>
                </p>
            </div>



            


        </div>
    </div>
    <script>
        $(function () {
            $("#accordion").accordion({
                active: false,
                collapsible: true,
            });
        });
    </script>

    {% endblock %}