{% extends "InnerPage.html.j2" %}
{% block body %}
<h1 class="text-wall-heading">Members</h1>
<div class="text-wall-area-box">
    <h2 class="text-wall-area-box-heading">Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
    <div class="scroll-area">
        <p class="text-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit modi aut eos repudiandae
            quod, illum iusto sunt soluta consectetur, ullam numquam nam, libero adipisci perspiciatis. Saepe enim
            sequi exercitationem accusamus? Aut, vel sunt, eos quidem distinctio mollitia molestiae quisquam nesciunt
            ea voluptate atque neque id harum cupiditate ab! Pariatur blanditiis quam recusandae excepturi quae?
            Perferendis, sequi. Ipsam dignissimos nesciunt delectus. Vel iusto neque, hic minima fuga cupiditate
            facilis debitis iste aliquam iure voluptatibus odio consequuntur molestiae quia possimus esse deleniti ut
            consectetur eveniet. Tenetur repudiandae, numquam molestias sequi ipsa consequuntur? Repellat quasi fugiat
            inventore, deserunt amet beatae, eveniet aliquam ipsum tempora quos sapiente? Sequi odit placeat
            temporibus. Doloremque quia quaerat, ea ex minus sit? Fugiat, explicabo aliquid! Quam, reiciendis
            veritatis. Provident veniam omnis quae magnam ipsa nisi id exercitationem, esse nihil nam veritatis quo ab
            ullam modi est sint. Porro, atque amet? Ipsam nihil aspernatur molestiae doloribus, repellendus totam eius.
        </p>
        <button class="read-more-button">Read More</button>
    </div>
</div>
<div class="pagination">
    <div class="pagination-item-wrapper">
        <a class="pagination-anchor">
            <div class="pagination-item"></div>
            <span class="pagination-text">Description</span>
        </a>
    </div>
</div>
<div class="modal">
    <div class="modal-close"></div>
    <div class="modal-content">
        <h1>Members</h1>
        <div class="team-container">
            <div id="Auksė" class="team-profile">
                <img class="img-expand" src="files/images/team/Auksė.jpg" alt="Some text" />
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1 class="item-modal-heading">Auksė Gaižauskaitė</h1>
                    <img class="item-modal-image team-member-modal-image" src="files/images/team/Auksė.jpg" alt="img">
                    <h3>Role</h3>
                    <p>Advising on every and we mean e v e r y problem</p>
                    <h3>Study programme</h3>
                    <p>Molecular Biology master's degree</p>
                    <p>Auksė is the elder-mom of our team. Her name is one the most beautiful Lithuanian names meaning Goldengirl. Honestly, her advice about the project’s idea, laboratory issues, HP activities are always supposed to be of golden value. Keeping in mind that Auksė has many responsibilities and tasks to do outside the project, her family members often say: „Auksė doesn‘t need to wake up early because she is already awake.“</p>
                </div>
            </div>
            <div id="Dovydas" class="team-profile">
                <img class="img-expand" src="files/images/team/Dovydas.jpg" alt="Some text" />
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1 class="item-modal-heading">Dovydas Vaitkus</h1>
                    <img class="item-modal-image team-member-modal-image" src="files/images/team/Dovydas.jpg" alt="img">
                    <h3>Role</h3>
                    <p>Creation of the next top model</p>
                    <h3>Study programme</h3>
                    <p>Molecular Biology</p>
                    <p>Dovydas has spent many hours turning into days, weeks, and even months with a model. He was never so passionate about no one ever before, and he couldn‘t help himself but being with his model all the time. Blessing or curse, it was not a photo model but a model for our project (which we really weren’t sure whether to be worried or happy about it). 
„To compare all of my longest played games in a lifetime, the COMSOL would be #1“ </p>
                </div>
            </div>
            <div id="Gabrielius" class="team-profile">
                <img class="img-expand" src="files/images/team/Gabrielius.jpg" alt="Some text" />
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1 class="item-modal-heading">Gabrielius Jakutis</h1>
                    <img class="item-modal-image team-member-modal-image" src="files/images/team/Gabrielius.jpg" alt="img">
                    <h3>Role</h3>
                    <p>Moneymaking and meetings with everyone</p>
                    <h3>Study programme</h3>
                    <p>PhD in Developmental Genetics</p>
                    <p>After spending all his life in the city, Gabrielius simply hates the idea of sleeping in a tent. However, to our surprise, recently he moved to the German countryside to pursue his PhD dream. It turned out to be a right choice after he magically made every wet lab experiment work in iGEM. Outside the lab, Gabrielius nailed every single sport branch and was the single worthy opponent of Simas at foosball. As a prize for remarkable performances, Gabrielius used teams’ budget to rent cars for his own needs for half a year.</p>
                </div>
            </div>
            <div id="Hana" class="team-profile">
                <img class="img-expand" src="files/images/team/Hana.jpg" alt="Some text" />
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1 class="item-modal-heading">Hanna Yeliseyeva</h1>
                    <img class="item-modal-image team-member-modal-image" src="files/images/team/Hana.jpg" alt="img">
                    <h3>Role</h3>
                    <p>Professional literature overviews</p>
                    <h3>Study programme</h3>
                    <p> Microbiology and Biotechnology</p>
                    <p>Hanna was born in Minsk, Belarus, but for quite a long time she has lived in Lithuania. Besides studies and iGEM she also mentors foreign students in the University and is planning to continue her studies in the USA. In view of internationality while being born in the Belarus, living and mentoring foreign students in Lithuania, planning the future in the USA, it is safe to assume she is the „i“ in „iGEM“.</p>
                </div>
            </div>
            <div id="Ieva" class="team-profile">
                <img class="img-expand" src="files/images/team/Ieva.jpg" alt="Some text" />
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1 class="item-modal-heading">Ieva Juškaitė</h1>
                    <img class="item-modal-image team-member-modal-image" src="files/images/team/Ieva.jpg" alt="img">
                    <h3>Role</h3>
                    <p>Donating blood for her own experiments</p>
                    <h3>Study programme</h3>
                    <p> Biochemistry</p>
                    <p>Ieva is the junior-mom of our team. She knows exactly how many spoons of coffee and how much milk everyone prefers in it. Ieva sleeps like a mother of a newborn - approximately not at all. Although power-naps of total unconsciousness are her specialty as well. We should be thankful for such womanliness and charm she has, because one of her suitors is creating a model for our project. While she may seem harmless, years of rowing a canoe built her inner strength to wrestle Gabrielius, yet nothing helped against her dreadful fear of phages lysing her cells.</p>
                </div>
            </div>
            <div id="Justas" class="team-profile">
                <img class="img-expand" src="files/images/team/Justas.jpg" alt="Some text" />
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1 class="item-modal-heading">Justas Ritmejeris</h1>
                    <img class="item-modal-image team-member-modal-image" src="files/images/team/Justas.jpg" alt="img">
                    <h3>Role</h3>
                    <p>Lord of Vilnius iGEM</p>
                    <h3>Study programme</h3>
                    <p> Biochemistry</p>
                    <p>If you don‘t know how to cheer up Justas, invite him to a battle of laser tag or airsoft. Due to his tactical efficiency not only in those battles, he is more than suitable for being the leader of our team. He’s a perfect example of how one should make a career in science - from filling plates with LB Agar last year to becoming a mastermind of the project this time. Don‘t be screwed up – his heart can turn from feather to stone in minutes and nobody will pass into silence or stay without assignments. On the contrary, there are 4 words and 14 letters that everyone desires to hear from Justas: „Food’s on SynBio“. We are also thinking about running a questionnaire during the Giant Jamboree whether he should shave his beard or not...</p>
                </div>
            </div>
            <div id="Kornelija" class="team-profile">
                <img class="img-expand" src="files/images/team/Kornelija.jpg" alt="Some text" />
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1 class="item-modal-heading">Kornelija Vitkutė</h1>
                    <img class="item-modal-image team-member-modal-image" src="files/images/team/Kornelija.jpg" alt="img">
                    <h3>Role</h3>
                    <p>Synthesizing buckets of liposomes</p>
                    <h3>Study programme</h3>
                    <p>Neurobiology master’s degree</p>
                    <p>This girl just loves animals (zver in particular), but the best pet she has ever had must be a giant goat moth, named Hellboy. You may think she wouldn’t hurt a living being, but she has enough courage to open fire at Justas’ face during airsoft. However, most of the time you may find her by the computer making our illustrations that were inspired by countless hours of microfluidic experiments. And we kindly suggest you not to mention NASA to her, because she won’t stop talking for hours then.</p>
                </div>
            </div>
            <div id="Kasparas" class="team-profile">
                <img class="img-expand" src="files/images/team/Kasparas.jpg" alt="Some text" />
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1 class="item-modal-heading">Kasparas Taminskas</h1>
                    <img class="item-modal-image team-member-modal-image" src="files/images/team/Kasparas.jpg" alt="img">
                    <h3>Role</h3>
                    <p>Wiki development</p>
                    <h3>Study programme</h3>
                    <p>Software Engineering</p>
                    <p>For the possibility to read our wiki page, you (and us also) should be thankful to Kasparas. Last one to join our team, he has spent seas of time doggedly creating and programming it. When we asked him how the things were going, he usually answered that they were really hard, and after hitting up to flesh out, he smiled widely and said that every moment of it was challenging. Rumors have it that Kasparas has changed his registered home address to: http://2018.igem.org/Team:Vilnius-Lithuania</p>
                </div>
            </div>
            <div id="Kristina" class="team-profile">
                <img class="img-expand" src="files/images/team/Kristina.jpg" alt="Some text" />
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1 class="item-modal-heading">Kristina Žukauskaitė</h1>
                    <img class="item-modal-image team-member-modal-image" src="files/images/team/Kristina.jpg" alt="img">
                    <h3>Role</h3>
                    <p>Running 100 IVTT reactions/day</p>
                    <h3>Study programme</h3>
                    <p>Genetics</p>
                    <p>FLithuanian name „Kristina“ sounds similar to an English word „crystal“ or „gem“. On daily basis, Kristina might introduce herself not only as „I am Kristina“, but „I (am) gem“ as well. She is also a true hidden gem of our team, as none of us have ever witnessed such pipetting skills in our entire lifetimes. If you ask her for help with the interlab, wet lab or even human practices, she never waves away. And when you introduce an idea to her, she always laughs friendly in the beginning. We never understood, if it was a good sign or bad.</p>
                </div>
            </div>
            <div id="Lina" class="team-profile">
                <img class="img-expand" src="files/images/team/Lina.jpg" alt="Some text" />
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1 class="item-modal-heading">Lina Škiudaitė</h1>
                    <img class="item-modal-image team-member-modal-image" src="files/images/team/Lina.jpg" alt="img">
                    <h3>Role</h3>
                    <p>Phone calls and budget management</p>
                    <h3>Study programme</h3>
                    <p>Pharmacy</p>
                    <p>Lina is just helpless at keeping secrets from anyone and that makes her a perfect candidate for taking care of our budget. Unfortunately, she is the worst partner in crime at the same time. Despite that you can find out many piquant stories of her life, if you asked her like grim death. That might be a dark hint how her nickname „Johnny“ came along. Sometimes she also went missing for a few days. We used to call her numerous times and check local police reports until we understood that she simply likes to get away to the seaside.</p>
                </div>
            </div>
            <div id="Lukas" class="team-profile">
                <img class="img-expand" src="files/images/team/Lukas.jpg" alt="Some text" />
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1 class="item-modal-heading">Lukas Praninskas</h1>
                    <img class="item-modal-image team-member-modal-image" src="files/images/team/Lukas.jpg" alt="img">
                    <h3>Role</h3>
                    <p>Software building</p>
                    <h3>Study programme</h3>
                    <p>Software Engineering</p>
                    <p>In Slack he is „Luke the IT guy“. But he breaks the longstanding opinion about the humdrum of informatics while having an artistic soul: he captures every moment with his camera during trips, listens to rock 24/7, and practises capoeira. Then all this gained inspiration displays creatively while leaving a computer rendering the model video… in the bathroom! Just in order to get some sleep at night without the noise and light coming from the computer. According to Lukas: “Everything can be coded”</p>
                </div>
            </div>
            <div id="Miglė" class="team-profile">
                <img class="img-expand" src="files/images/team/Miglė.jpg" alt="Some text" />
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1 class="item-modal-heading">Miglė Kalvaitytė</h1>
                    <img class="item-modal-image team-member-modal-image" src="files/images/team/Miglė.jpg" alt="img">
                    <h3>Role</h3>
                    <p>Positive vibes and HP supervision</p>
                    <h3>Study programme</h3>
                    <p>Molecular Biology master’s degree</p>
                    <p>If you met Miglė at any time and asked her how was that casual day going, she even more ordinarily replied: „Everything is wonderful! Today I had cut mouse’s head off again!”. It is likely that after such answer you may misjudge her but truth is, she is an artist by birth even when studying Molecular Biology. Therefore we should be grateful for the traditional collaboration with artists every year. Also, this is her third year on iGEM. We are starting to think, that she secretly seeks to become the most-medal-winning iGEMer of all time. </p>
                </div>
            </div>
            <div id="Monika" class="team-profile">
                <img class="img-expand" src="files/images/team/Monika.jpg" alt="Some text" />
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1 class="item-modal-heading">Monika Kazlauskaitė</h1>
                    <img class="item-modal-image team-member-modal-image" src="files/images/team/Monika.jpg" alt="img">
                    <h3>Role</h3>
                    <p>Generating Nobel Prize winning letters to our partners</p>
                    <h3>Study programme</h3>
                    <p>Medicine</p>
                    <p>Monika shows up in almost every meeting and usually brings cookies as a repay for every unaccomplished task. She is the reason why we have invented the “couch of shame” (not to be mixed with the other couch). However, sooner of later every job is done as Monika is a professional multitasker - tons of book worthy letters are finished overnight while still getting ready for her medical exams at the same time. Actually, she’s so good at it that after Gabrielius went away for his PhD studies, we entrusted her with our health matters and promoted her to the Head of Medical Care. She also can speak backwards. gnizamA!</p>
                </div>
            </div>
            <div id="Simas" class="team-profile">
                <img class="img-expand" src="files/images/team/Simas.jpg" alt="Some text" />
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1 class="item-modal-heading">Simas Jasiūnas</h1>
                    <img class="item-modal-image team-member-modal-image" src="files/images/team/Simas.jpg" alt="img">
                    <h3>Role</h3>
                    <p> Perfecting ancient cloning rituals </p>
                    <h3>Study programme</h3>
                    <p>Molecular Biology</p>
                    <p>To tell the truth, Simas (also known as “Shan Zu”) was the person whose photos most frequently turned into memes. He never grumbled about it so we kind of felt his secret wish of becoming a world renown meme-face. If you were determined to compete with him in foosball, be prepared for being destroyed. I mean not only by the score, but by flying balls towards you as well, because Simas’ spins are sometimes harder and faster than turnaround dribbles of Kevin Durant. <a href="https://youtu.be/fBaFfhcQQIY">“https://youtu.be/fBaFfhcQQIY”</a></p>
                </div>
            </div>
            <div id="Tomas" class="team-profile">
                <img class="img-expand" src="files/images/team/Tomas.jpg" alt="Some text" />
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1 class="item-modal-heading">Tomas Venclovas</h1>
                    <img class="item-modal-image team-member-modal-image" src="files/images/team/Tomas.jpg" alt="img">
                    <h3>Role</h3>
                    <p>Overnight chromatographies</p>
                    <h3>Study programme</h3>
                    <p>Molecular biology</p>
                    <p>While chatting with Tomas, more often than not the conversation turns 360 degrees due to his advanced meme techniques. For example, he likes to compare people with fungi and emphasize on their similarity. Then the second talker has nothing else to do, but to kindly ask him to keep his personal life out of this. Even so, he does not get angry, just becomes immersed in his computer. Because, as he says, „Runescape helps me concentrate“. </p>
                </div>
            </div>
            <div id="Ugnė" class="team-profile">
                <img class="img-expand" src="files/images/team/Ugnė.jpg" alt="Some text" />
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1 class="item-modal-heading">Ugnė Kapočiūtė</h1>
                    <img class="item-modal-image team-member-modal-image" src="files/images/team/Ugnė.jpg" alt="img">
                    <h3>Role</h3>
                    <p>Infiltrating Thermo Fisher Scientific and gathering information</p>
                    <h3>Study programme</h3>
                    <p>Genetics</p>
                    <p>Ugnė’s accuracy is her strength while coping with human practises activities. From precise leaflets layouts to even smallest icons in guidebooks - nothing can skip her check up. All tasks she gets are made much before deadlines and opportunities to help others appear subsequently. While a match between name “Ugnė” and “Fire” (direct English translation) is clear, nobody knows what is the fuel for her diligence...</p>
                </div>
            </div>
            <div id="Valentas" class="team-profile">
                <img class="img-expand" src="files/images/team/Valentas.jpg" alt="Some text" />
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1 class="item-modal-heading">Valentas Brasas</h1>
                    <img class="item-modal-image team-member-modal-image" src="files/images/team/Valentas.jpg" alt="img">
                    <h3>Role</h3>
                    <p>Western blots and other devastating experiments</p>
                    <h3>Study programme</h3>
                    <p>Molecular biology</p>
                    <p>Valentas is famous for his “so bad they’re good” puns and extremely bizzare ideas. It has went so far, that only by saying „I have a really great idea“ he left everyone laughing for ten minutes even though the idea itself was never revealed. Despite of being the youngest in the team, he tends to coach us in lab, basketball, football, foosball, politics, Valent-blots (yes, ask him...), music, etc., and plans on being the next leader of Vilnius iGEM with one of his “ideas”. It wouldn’t come as a surprise, because out of dedication for the project he refused to pay for the internet at home and chose to live in the university instead.</p>
                </div>
            </div>
            <div id="LukasŠerelis" class="team-profile">
                <img class="img-expand" src="files/images/team/LukasŠerelis.jpg" alt="Some text" />
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1 class="item-modal-heading">Lukas Šerelis</h1>
                    <img class="item-modal-image team-member-modal-image" src="files/images/team/LukasŠerelis.jpg" alt="img">
                    <h3>Role</h3>
                    <p>Minimization of the design</p>
                    <h3>Study programme</h3>
                    <p>Graphics design</p>
                    <p>This guy is responsible for the design of our project as giving him credit for having longevous experience of creating Minecraft videos and sharing them on Youtube. He is the only team member we’ve never met and only Skype calls let us believe in his existence. Formerly he used to take some risk while taking any train or bus and going on a mystery tour without certain direction. Who knows, maybe he landed up in the UK in this way? </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}