{% extends "InnerPage.html.j2" %}
{% block body %}
<h1 class="text-wall-heading">Sponsors</h1>
<div class="text-wall-area-box">
    <h2 class="text-wall-area-box-heading">Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
    <div class="scroll-area">
        <p class="text-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit modi aut eos repudiandae
            quod, illum iusto sunt soluta consectetur, ullam numquam nam, libero adipisci perspiciatis. Saepe enim
            sequi exercitationem accusamus? Aut, vel sunt, eos quidem distinctio mollitia molestiae quisquam nesciunt
            ea voluptate atque neque id harum cupiditate ab! Pariatur blanditiis quam recusandae excepturi quae?
            Perferendis, sequi. Ipsam dignissimos nesciunt delectus. Vel iusto neque, hic minima fuga cupiditate
            facilis debitis iste aliquam iure voluptatibus odio consequuntur molestiae quia possimus esse deleniti ut
            consectetur eveniet. Tenetur repudiandae, numquam molestias sequi ipsa consequuntur? Repellat quasi fugiat
            inventore, deserunt amet beatae, eveniet aliquam ipsum tempora quos sapiente? Sequi odit placeat
            temporibus. Doloremque quia quaerat, ea ex minus sit? Fugiat, explicabo aliquid! Quam, reiciendis
            veritatis. Provident veniam omnis quae magnam ipsa nisi id exercitationem, esse nihil nam veritatis quo ab
            ullam modi est sint. Porro, atque amet? Ipsam nihil aspernatur molestiae doloribus, repellendus totam eius.
        </p>
        <button class="read-more-button">Read More</button>
    </div>
</div>
<div class="pagination">
    <div class="pagination-item-wrapper">
        <a class="pagination-anchor">
            <div class="pagination-item"></div>
            <span class="pagination-text">Description</span>
        </a>
    </div>
</div>
<div class="modal">
    <div class="modal-close"></div>
    <div class="modal-content">
        <h1>Sponsors</h1>
        <h2>Protein level sponsors</h2>
        <p>These are our general sponsors. They have provided us with reagents for our project
            and a major financial support
        </p>
        <div class="sponsors-items">

            <div class="sponsors-item">
                <img class="img-cont sponsors-item-image img-expand" src="files/images/logos/brolissemiconductors.png" alt="img">
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1>Brolis Semiconductors
                    </h1>
                    <img class="item-modal-image" src="files/images/logos/brolissemiconductors-big.png" alt="img">
                    <p class="item-modal-text">Brolis Semiconductors is a high-tech company engaged in
                        semiconductors in electronics and photoelectronics. Three brothers - Augustinas, Kristijonas
                        and Dominykas have launched the company in 2011. Since the foundation, Brolis Semiconductors
                        has been growing dynamically, marked by numerous awards, continuous innovation and consistent
                        growth in both personnel and infrastructure. Currently Brolis acts across three locations with
                        headquarters and production facility in Vilnius (Lithuania), Northern Ireland and Ghent
                        (Belgium).

                        Brolis Semiconductors focuses on creation some of the world’s finest infrared laser products
                        from near infrared to mid infrared. The mission of Brolis Semiconductors is to create, develop
                        and bring to market advanced cutting-edge infrared photonic technology that would fully utilize
                        the very nature of semiconductors technology - compactness and scale - and reach every
                        individual.

                    </p>
                </div>
            </div>
            <div class="sponsors-item">
                <img class="img-cont sponsors-item-image img-expand" src="files/images/logos/thermofisher.png" alt="img">
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1 class="item-modal-heading">Thermo Fisher Scientific</h1>
                    <img class="item-modal-image" src="files/images/logos/thermofisher-big.png" alt="img">
                    <p class="item-modal-text">Thermo Fisher Scientific is the world leader in serving science, with
                        revenues of $17 billion
                        and 50,000 employees in 50 countries. Company's mission is to enable the customers to make the
                        world healthier, cleaner and safer. They help the customers accelerate life sciences research,
                        solve complex analytical challenges, improve patient diagnostics and increase laboratory
                        productivity.

                        Thermo Fisher Scientific Vilnius Center of Excellence for Biosciences has world-class
                        capabilities in manufacturing products for the life science market, and has an outstanding
                        research and development (R&D) center, focused on the development of new products in all
                        aspects of molecular, protein, and cellular biology. Products are broadly used worldwide to
                        study gene structure, expression and variety, to create new diagnostics methods for innate,
                        hereditary and infectious diseases.
                    </p>
                </div>
            </div>
            <div class="sponsors-item">
                <img class="img-cont sponsors-item-image img-expand" src="files/images/logos/barclays.png" alt="img">
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1 class="item-modal-heading">Barclays</h1>
                    <img class="item-modal-image" src="files/images/logos/barclays-big.png" alt="img">
                    <p class="item-modal-text">Barclays - a British multinational investment bank and financial
                        services company headquartered in London has more than 325 years of history from the very
                        beginning in Lombard Street. Apart from investment, Barclays is organised into four core
                        businesses: personal banking, corporate banking, wealth management and investment management.
                        The strategy of Barclays PLC Group is to build on their strength as a transatlantic consumer,
                        corporate and investment bank.

                        In 2009 in Lithuania Barclays established strategic centre for technologies and services –
                        Barclays Group Operations Centre in Lithuania (BGOL) with over 900 employees. Two clearly
                        defined divisions of Barclays - Barclays UK and Barclays International, provide diversification
                        by business line, geography and customer, enhancing financial resilience and helping to
                        contribute to the delivery of consistent returns through the business cycle.

                    </p>
                </div>
            </div>
        </div>
        <h2>RNA level sponsors</h2> 
        <p>These sponsors helped us to cover project expenditures: laboratory costs, Giant
            Jamboree participation fee, travel expenses and human practices' activities.</p>
        <div class="sponsors-items">

            <div class="sponsors-item">
                <img class="img-cont sponsors-item-image img-expand" src="files/images/logos/biotecha.png" alt="img">
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1 class="item-modal-heading">Biotecha</h1>
                    <img class="item-modal-image" src="files/images/logos/biotecha-big.png" alt="img">
                    <p class="item-modal-text">Biotecha is a private limited liability company and one of the
                            few companies in the Baltic countries with many years of experience in life sciences,
                            pharmaceutical, food and beverage technologies. With many years of experience, UAB Biotecha
                            now offers solutions and supplies devices for scientific analysis, manufacturing processes
                            and process controls. The company delivers, installs and maintains industrial and
                            laboratory equipment. Company’s mission is to deliver and offer the latest achievements in
                            research and technology to the Baltic countries and provide all the necessary tools for
                            scientific analysis, manufacturing processes and process controls.

                    </p>
                </div>
            </div>
            <div class="sponsors-item">
                <img class="img-cont sponsors-item-image img-expand" src="files/images/logos/metida.png" alt="img">
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1 class="item-modal-heading">Metida</h1>
                    <img class="item-modal-image" src="files/images/logos/metida-big.png" alt="img">
                    <p class="item-modal-text">METIDA is a patent and trademark agency, it was founded in 1991. In
                        2005 it became METIDA Law Firm of Reda Zaboliene and expanded its’ areas of practice. The firm
                        provides services in intellectual property, contract, company, competition, labour, real-estate
                        and construction law, as well as represents legal and natural persons in civil cases.
                    </p>
                </div>
            </div>
            <div class="sponsors-item">
                <img class="img-cont sponsors-item-image img-expand" src="files/images/logos/cosmobio.png" alt="img">
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1 class="item-modal-heading">Cosmo Bio</h1>
                    <img class="item-modal-image" src="files/images/logos/cosmobio-big.png" alt="img">
                    <p class="item-modal-text">Cosmo Bio is a Japanese company providing the most up-to-date
                        products and technical information available from world-class manufacturers, to laboratories,
                        research institutes, life-science education and testing organizations throughout Japan and
                        around the world. Cosmo Bio has been supporting and inspiring the Japan life science research
                        community for over 30 years with products from hundreds of domestic and international
                        manufacturers.
                    </p>
                </div>
            </div>
            <div class="sponsors-item">
                <img class="img-cont sponsors-item-image img-expand" src="files/images/logos/dropletgenomics.png" alt="img">
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1 class="item-modal-heading">Droplet Genomics</h1>
                    <img class="item-modal-image" src="files/images/logos/dropletgenomics-big.png" alt="img">
                    <p class="item-modal-text">Droplet Genomics is a company making microfluidic instruments,
                        consumables and data analysis tools - so biological samples can be analysed at the granularity
                        of single cells. This generates enough data to reveal biological mechanisms and makes it
                        possible to predict the future, rather than characterise the present. Interdisciplinarity is at
                        the heart of Droplet Genomics’ every product and the company consider this as a unique
                        opportunity to deliver truly innovative solutions for a better science.
                    </p>
                </div>
            </div>
            <div class="sponsors-item">
                <img class="img-cont sponsors-item-image img-expand" src="files/images/logos/zabolispartners.png" alt="img">
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1 class="item-modal-heading">Zabolis Partners</h1>
                    <img class="item-modal-image" src="files/images/logos/zabolispartners-big.png" alt="img">
                    <p class="item-modal-text">Zabolis Partners is a venture capital, venture debt, private equity,
                        and real estate investment firm. It specializes in growth capital investments, bridge
                        financing, distressed/vulture investments industry consolidations, recapitalizations, and
                        buyouts. The firm seeks to invest in incubation, seed/startup, early venture, turnaround, and
                        emerging growth stages. It seeks to make real estate investments in retail properties and large
                        single-tenant and power centre properties. Zabolis Partners prefers to invest in the Baltic
                        Region and Eastern Europe.
                    </p>
                </div>
            </div>
            <div class="sponsors-item">
                <img class="img-cont sponsors-item-image img-expand" src="files/images/logos/lightconversion.png" alt="img">
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1 class="item-modal-heading">Light Conversion</h1>
                    <img class="item-modal-image" src="files/images/logos/lightconversion-big.png" alt="img">
                    <p class="item-modal-text">Light Conversion is a privately owned company based in Vilnius, the
                        capital of Lithuania. Company is the world leading manufacturer of wavelength tunable
                        femtosecond laser sources based on TOPAS and ORPHEUS series of optical parametric amplifiers
                        (OPA) as well as diode pumped solid state femtosecond lasers PHAROS and CARBIDE. With more than
                        3000 systems installed worldwide, Light Conversion has established itself as a reliable and
                        innovative producer of femtosecond optical devices.
                    </p>
                </div>
            </div>
            <div class="sponsors-item">
                <img class="img-cont sponsors-item-image img-expand" src="files/images/logos/bioklaboratorija.png" alt="img">
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1 class="item-modal-heading">BIOK laboratorija</h1>
                    <img class="item-modal-image" src="files/images/logos/bioklaboratorija-big.png" alt="img">
                    <p class="item-modal-text">BIOK laboratorija is the biggest cosmetics manufacturer in Lithuania
                        founded in 1991. Company produces over 200 different skin, hair care and oral hygiene products.
                        The underlying skincare manufacturing principle of BIOK Laboratorija is to take the best that
                        nature can offer and use it for beauty. BIOK Laboratorija produces exceptionally natural and
                        organic products enriched with plant-based ingredients that are reliable and effective. In
                        addition to natural plant ingredients, the company uses active ingredients that help the skin
                        regenerate, maintain its moisture balance and deliver the necessary vitamins.

                    </p>
                </div>
            </div>
            <div class="sponsors-item">
                <img class="img-cont sponsors-item-image img-expand" src="files/images/logos/benediktasgylys.png" alt="img">
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1 class="item-modal-heading">Benediktas Gylys Foundation</h1>
                    <img class="item-modal-image" src="files/images/logos/benediktasgylys-big.png" alt="img">
                    <p class="item-modal-text">Since 2013 Benediktas Gylys Foundation (BGF) carries out projects
                        that promote creativity, entrepreneurship and initiatives by young talents. From 2017 BGF
                        purposefully supports science, innovation and technologies.
                </div>
            </div>
        </div>
        <h2>DNA level sponsors</h2> <p>These sponsors have provided us with some reagents and plastic ware for our project.</p>
        </h2>
        <div class="sponsors-items">

            <div class="sponsors-item">
                <img class="img-cont sponsors-item-image img-expand" src="files/images/logos/froceth.png" alt="img">
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1 class="item-modal-heading">Froceth</h1>
                    <img class="item-modal-image" src="files/images/logos/froceth-big.png" alt="img">
                    <p class="item-modal-text">Froceth is the first and only biotechnology company in Lithuania
                        manufacturing advanced therapy medicinal products (ATMPs) individually for each patient.
                        Products are developed by using patients’ own tissues and cells in the manufacturing process,
                        and by addressing the specific needs of each person.
                    </p>
                </div>
            </div>
            <div class="sponsors-item">
                <img class="img-cont sponsors-item-image img-expand" src="files/images/logos/integrateddnatechnologies.png" alt="img">
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1 class="item-modal-heading">Integrated DNA Technologies</h1>
                    <img class="item-modal-image" src="files/images/logos/integrateddnatechnologies-big.png" alt="img">
                    <p class="item-modal-text">IDT is the largest manufacturer of custom oligo products in the US
                        today. They became the industry leader in this competitive field by maintaining the highest
                        standards of quality, service, and technical know-how.
                    </p>
                </div>
            </div>
            <div class="sponsors-item">
                <img class="img-cont sponsors-item-image img-expand" src="files/images/logos/grida.png" alt="img">
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1 class="item-modal-heading">Grida</h1>
                    <img class="item-modal-image" src="files/images/logos/grida-big.png" alt="img">
                    <p class="item-modal-text">Grida is a limited liability company trading in laboratory equipment
                        and diagnostic reagents. Grida is one of the major suppliers on Lithuanian market of diagnostic
                        testing systems, disposable systems and laboratory equipment to laboratories, university
                        clinics, quality control laboratories and research institutes. Grida sells wide range of
                        products from goods needed for daily work of a laboratory to complex equipment.
                    </p>
                </div>
            </div>
            <div class="sponsors-item">
                <img class="img-cont sponsors-item-image img-expand" src="files/images/logos/labochema.png" alt="img">
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1 class="item-modal-heading">LaboChema</h1>
                    <img class="item-modal-image" src="files/images/logos/labochema-big.png" alt="img">
                    <p class="item-modal-text">Labochema is a limited liability company which can meet demand in
                        different type of laboratory equipment, chemical reagents, laboratory wares and laboratory
                        consumables, laboratory furniture, and implementing individual laboratory installation
                        projects.
                    </p>
                </div>
            </div>
        </div>
        <h2>Academic sponsors</h2> <p>Our academic sponsors provided us laboratory space and some of the needed equipment,
            covered the team registration fee. They consulted us on different project matters such as: project
            development, communications and educational activities.</p>
        </h2>
        <div class="sponsors-items">

            <div class="sponsors-item">
                <img class="img-cont sponsors-item-image img-expand" src="files/images/logos/vilniausuniversitetas.png" alt="img">
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1 class="item-modal-heading">Vilnius University</h1>
                    <img class="item-modal-image" src="files/images/logos/vilniausuniversitetas-big.png" alt="img">
                    <p class="item-modal-text">Vilnius University is the oldest and largest Lithuanian higher
                        education institution. It was established in the 16th century and now is one the most important
                        parts of culture, science and research in Lithuania. The mission of Vilnius University is to
                        create, accumulate and disseminate knowledge by ensuring continuity of authentic university
                        culture, distinguished by the atmosphere where old traditions and new ideas enrich each other.
                    </p>
                </div>
            </div>
            <div class="sponsors-item">
                <img class="img-cont sponsors-item-image img-expand" src="files/images/logos/gmc.png" alt="img">
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1 class="item-modal-heading">Vilnius University Life Sciences Center</h1>
                    <img class="item-modal-image" src="files/images/logos/gmc-big.png" alt="img">
                    <p class="item-modal-text">LSC project is one of the so-called Valley programs (research
                        centers) implemented in Lithuania where one of the top priorities is to develop top level
                        University education and attract young researchers to science. Main research fields and study
                        programs at the LSC include structure and functional research of biomolecules, structural
                        biology and bioinformatics, human, plant and microbial genome research, biotechnology,
                        molecular biology, genetics, neurobiology, and related sciences. The LSC is focusing on
                        cooperation with business and attracting foreign investments, creation of new innovative
                        business.
                    </p>
                </div>
            </div>
            <div class="sponsors-item">
                <img class="img-cont sponsors-item-image img-expand" src="files/images/logos/institutebiotechnology.png" alt="img">
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1 class="item-modal-heading">Institute of Biotechnology</h1>
                    <img class="item-modal-image" src="files/images/logos/institutebiotechnology-big.png" alt="img">
                    <p class="item-modal-text">Institute of Biotechnology is a part of Vilnius University, which
                        focuses on scientific researches and biotechnology. Institute seeks to maintain the high
                        standarts in scientific endeavour, research training and technological advance, with its main
                        focus in a broadly defined field of molecular biotechnology, including nucleic acid and protein
                        technologies, bioinformatics, immunodiagnostics, drug design, microfluidics, next generation
                        epigenomics and gene editing technologies.
                    </p>
                </div>
            </div>
        </div>
        <h2>Friends</h2> <p>Provided accommodation in Boston during the “2018 Giant Jamboree” conference.</p>
        <div class="sponsors-items">

            <div class="sponsors-item">
                <img class="img-cont sponsors-item-image img-expand" src="files/images/logos/lithuaniaamericacomunity.png" alt="img">
                <div class="item-modal">
                    <div class="close-item-modal"></div>
                    <h1 class="item-modal-heading">Lithuania-American Community</h1>
                    <img class="item-modal-image" src="files/images/logos/lithuaniaamericacomunity-big.png" alt="img">
                    <p class="item-modal-text">The Lithuanian American Community (LAC) is part of the Lithuanian
                        World Community, an organizational network embracing Lithuanians in over 41 countries. Since
                        1951 they organize educational, cultural, community, sports and social events and, in addition,
                        assists lithuanians or lithuanian organizations in foreign countries.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}