<!DOCTYPE html>
<html lang="en">
    <head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>iGEM Wiki Page</title>
        <link rel="stylesheet" type="text/css" href="files/css/styles.css">
        <script src="files/js/jquery-1.11.1.min.js" integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE=" crossorigin="anonymous"></script>
        <script src="files/js/modernizr.js" integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE=" crossorigin="anonymous"></script>
    {% endblock %}
    </head>
    <body>
        {% include 'partials/Nav.html.j2' %}
        <div class="main-content-container">
        {% include 'partials/Submenu.html.j2' %}
        {% block body %}
        {% endblock %} 
        {% include 'partials/InvertBox.html.j2' %}
    <script src="../files/js/navAnimations.js"> </script>
    <script>
        $('.hamburger-anchor').click(function() {
            $('.sidebar').toggleClass("sidebar-expanded")
            $('.sidebar').get(0).appendChild($('.navigation').get(0))
        })
        $('.close-anchor').click(function() {
            $('.sidebar').toggleClass("sidebar-expanded")
        })
    </script>
    </body>
</html>