{% raw %}{{Vilnius-Lithuania}}{% endraw %}
<html lang="en">
    <head>
    {% block head %}
    {% endblock %}
    </head>
    <body>
        {% block body %}
        <div class="column full_size" >
        <h1> Team Vilnius-Lithuania </h1>
        <p></p>
        {% endblock %}
    </body>
</html>