<!DOCTYPE html>
<html lang="en">
    <head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>iGEM Wiki Page</title>
        <link rel="stylesheet" href="files/style.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> 
    {% endblock %}
    </head>
    <body>
        {% include 'Nav.html' %}
        <div class="invert-box">
            <a href="#">
                <img class="invert-box__image" src="../files/INVERT@300x.png" />
                <span class="invert-box__invert-text">invert</span>
            </a>
        </div>
        {% block body %}
        {% endblock %}  
    </body>
</html>