
      <header>
        <nav class="nav">
            <ul class="nav__nav-items">
                <li>
                    <a class="nav__nav-link" href="#">
                        <img class="nav__nav-logo" src="files/Project@300x.png">
                        <span class="nav__nav-logo-text">project</span>
                    </a>
                </li>
                <li>
                    <a class="nav__nav-link" href="#">
                        <img class="nav__nav-logo" src="files/PARTS@300x.png">
                        <span class="nav__nav-logo-text">parts</span>
                    </a>
                </li>
                <li>
                    <a class="nav__nav-link" href="#">
                        <img class="nav__nav-logo" src="files/Notebook@300x.png">
                        <span class="nav__nav-logo-text">notebook</span>
                    </a>
                </li>
                <li>
                    <a class="nav__nav-link" href="#">
                        <img class="nav__nav-logo" src="files/HumanPractices@300x.png">
                        <span class="nav__nav-logo-text">human practices</span>
                    </a>
                </li>
                <li>
                    <a class="nav__nav-link" href="#">
                        <img class="nav__nav-logo" src="files/Team@300x.png">
                        <span class="nav__nav-logo-text">team</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="sub-menu">
        <ul class="sub-menu__project-sub-menu">
            <li><a href="#">Description</a></li>
            <li><a href="#">Design + Result</a></li>
            <li><a href="#">Modelling</a></li>
            <li><a href="#">Proof</a></li>
            <li><a href="#">InterLab</a></li>
        </ul>
        <ul class="sub-menu__parts-sub-menu">
            <li><a href="#">Overview</a></li>
            <li><a href="#">Basic Parts</a></li>
            <li><a href="#">Composite Parts</a></li>
            <li><a href="#">Part Collection</a></li>
        </ul>
        <ul class="sub-menu__notebook-sub-menu">
            <li><a href="#">Lab Book</a></li>
            <li><a href="#">Protocols</a></li>
        </ul>
        <ul class="sub-menu__humanpractices-sub-menu">
            <li><a href="#">Silver</a></li>
            <li><a href="#">Integrated</a></li>
            <li><a href="#">Collaborations</a></li>
        </ul>
        <ul class="sub-menu__team-sub-menu">
            <li><a href="#">Members</a></li>
            <li><a href="#">Attributions</a></li>
            <li><a href="#">Sponsors</a></li>
        </ul>
    </section>
    <script type="text/javascript" src="../files/navAnimations.js"> </script> 