<header>
    <nav class="nav">
        <ul class="nav__nav-items">
            <li>
                <a class="nav__nav-link" href="#">
                    <div class="image__container">
                        <img class="nav__nav-logo" src="files/images/Project@300x.png">
                    </div>
                    <span class="nav__nav-logo-text">project</span>
                </a>
            </li>
            <li>
                <a class="nav__nav-link" href="#">
                    <div class="image__container">
                        <img class="nav__nav-logo" src="files/images/PARTS@300x.png">
                    </div>
                        <span class="nav__nav-logo-text">parts</span>
                </a>
            </li>
            <li>
                <a class="nav__nav-link" href="#">
                    <div class="image__container">
                        <img class="nav__nav-logo" src="files/images/Notebook@300x.png">
                    </div>
                    <span class="nav__nav-logo-text">notebook</span>

                </a>
            </li>
            <li>
                <a class="nav__nav-link" href="#">
                    <div class="image__container">
                        <img class="nav__nav-logo" src="files/images/HumanPractices@300x.png">
                    </div>
                    <span class="nav__nav-logo-text">human practices</span>
                </a>
            </li>
            <li>
                <a class="nav__nav-link" href="#">
                    <div class="image__container">
                        <img class="nav__nav-logo" src="files/images/Team@300x.png">
                    </div>
                    <span class="nav__nav-logo-text">team</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
<section class="sub-menu">
    <ul class="sub-menu-ul sub-menu__project-sub-menu">
        <li class="sub-menu-li" name="Description"><a href="#">Description</a></li>
        <li class="sub-menu-li" name="DesignResult"><a href="#">Design + Result</a></li>
        <li class="sub-menu-li" name="Modelling"><a href="#">Modelling</a></li>
        <li class="sub-menu-li" name="Proof"><a href="#">Proof</a></li>
        <li class="sub-menu-li" name="Interlab"><a href="#">InterLab</a></li>
    </ul>
    <ul class="sub-menu-ul sub-menu__parts-sub-menu">
        <li class="sub-menu-li" name="Overview"><a href="#">Overview</a></li>
        <li class="sub-menu-li" name="BasicParts"><a href="#">Basic Parts</a></li>
        <li class="sub-menu-li" name="CompositeParts"><a href="#">Composite Parts</a></li>
        <li class="sub-menu-li" name="PartCollection"><a href="#">Part Collection</a></li>
    </ul>
    <ul class="sub-menu-ul sub-menu__notebook-sub-menu">
        <li class="sub-menu-li" name="LabBook"><a href="#">Lab Book</a></li>
        <li class="sub-menu-li" name="Protocols"><a href="#">Protocols</a></li>
    </ul>
    <ul class="sub-menu-ul sub-menu__humanpractices-sub-menu">
        <li class="sub-menu-li" name="Silver"><a href="#">Silver</a></li>
        <li class="sub-menu-li" name="Integrated"><a href="#">Integrated</a></li>
        <li class="sub-menu-li" name="Collaborations"><a href="#">Collaborations</a></li>
    </ul>
    <ul class="sub-menu-ul sub-menu__team-sub-menu">
        <li class="sub-menu-li" name="Members"><a href="#">Members</a></li>
        <li class="sub-menu-li" name="Attributions"><a href="#">Attributions</a></li>
        <li class="sub-menu-li" name="Sponsors"><a href="#">Sponsors</a></li>
    </ul>
</section>
<script type="text/javascript" src="../files/js/navAnimations.js"> </script>