$black: #000;
$white: #fff;

@font-face {
    font-family: "Futura";
    src: url("../fonts/FuturaPTMedium.woff") format('woff');
}

@font-face {
    font-family: 'FuturaPTBook';
    src: url('../fonts/FuturaPTBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaLightOblique';
    src: url('../fonts/FuturaPTLightOblique.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPTLight';
    src: url('../fonts/FuturaPTLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*,
*::after,
*::before {
    margin:0;
    padding:0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;

    body {
        background-color: #e7e7e8;
        font-family: "Futura", sans-serif;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        a {
            text-decoration: none;
            color:#000;
        }
    
        ul, ol {
            list-style: none;
        }
    }

@import "Nav";
@import "InvertBox";
@import "InnerPage";

}