$black: #000;
$white: #fff;

@import "normalize";

*,
*::after,
*::before {
    margin:0;
    padding:0;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

html {

    -webkit-box-sizing: border-box;

            box-sizing: border-box;

    body {
        background-color: #332F2F;
        font-family: "Futura", "sans-serif";
    }

    a {
        text-decoration: none;
        color:#000;
    }

    ul, ol {
        list-style: none;
    }
}

@font-face {
    font-family: "Futura";
    src: url("../fonts/FuturaPTMedium.woff") format('woff');
}



.logo {
    position: absolute;
    top:6vh;
    left:5vw;
    z-index:10000;

    .logo__image{
        width:10em;
        z-index:10000;
        height:auto;
    }
}

.skip {
    position: absolute;
    top:6vh;
    right:5vw;
    .skip__image{
        width:4em;
        height:auto;
    }
}

.container {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
}

.media {
    min-width: 0;
    text-align: center;
}
.pulsing-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;

    .pulsing-logo__project-text {
        -webkit-box-flex:100%;
            -ms-flex:100%;
                flex:100%;
        width: 100%;
        display:none;
        text-align: center;
        padding:2em 2em 0em 2em;
    }

    .pulsing-logo__image {
        width: 15%;
        max-width: 100%; 
        -webkit-transition: display 1s ease-in; 
        -o-transition: display 1s ease-in; 
        transition: display 1s ease-in;
        }

    }

.canals {
    position: absolute;
    -webkit-transition: all 2s linear;
    -o-transition: all 2s linear;
    transition: all 2s linear;
    top:0;
    left:0;

    .canals__image {
        display: none;
        width:100vw;
    }

    .canals__lipid-image, .canals__water-image, .canals__oil-image {
        position: absolute;
        display: none;
        width:100vw;
    }
    .canals__water-image {
        z-index: 1;
    }
    .canals__oil-image {
        z-index: 2;
    }
    .canals__lipid-image {
        z-index: 3;
    }
}

.buttons {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 2s linear;
    -o-transition: opacity 2s linear;
    transition: opacity 2s linear;
    right: 10vw;
    top: 50vh;
    z-index: -3;
    .off-button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-flex:1;
            -ms-flex:1;
                flex:1;
    }
    .button-anchor {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex:1;
            -ms-flex:1;
                flex:1;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        img {
            width: 40%;
        }
    }   
    .button-text {
        color:white;
        font-size:1.1em;
    }
}
.liposomes {
    position:absolute;
    overflow: hidden;
    left:0;
    top:-20vh;
    width:100vw;
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
    z-index:10;
    img {
        width: 100%;
        overflow: hidden;
    }
}

@media (max-width:1050px) {
    .liposomes {
    top:0;
    }
}
@media (max-width:450px) {

    .pulsing-logo .pulsing-logo__image {
        width: 55%; 
    }

    .logo {

        top: 90vh;
        left:30vw;
        z-index:10000;
    
        .logo__image{
            width:10em;
            z-index:10000;
            height:auto;
        }
    }

    .liposomes {
        top:30vh;
    }

    .buttons {
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        opacity: 0;
        left: 0;
        width: 100%;
        right: 10vw;
        top: 70vh;
        z-index: -3;
        .off-button {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -webkit-box-flex:1;
                -ms-flex:1;
                    flex:1;
        }
        .button-anchor {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-flex:1;
                -ms-flex:1;
                    flex:1;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            text-align: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
    
            img {
                width: 56%;
                -webkit-box-flex:1;
                    -ms-flex:1;
                        flex:1;
            }
        }   
        .button-text {
            width: 50%;
            -webkit-box-ordinal-group: 0;
                -ms-flex-order: -1;
                    order: -1;
            color:white;
            font-size:1.1em;
        }
    }
}