.invert-box {
    bottom:3em;
    right:3em;
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    transition: transform .3s linear;

    img {
        width: 2.88em;
        height: 3em;
    }

    .invert-text {
        display: block;
    }
}

.invert-box:hover {
    transform: scale(1.3);
}
.invert-box__image {
    width:5em;
    height:5em;
}
.invert-box__invert-text {
    font-size: 1.3em;
    display: block;
    padding: .5em 0;
    text-align: center;
}