$black: #000;
$white: #fff;

.header-area {
    font-family: "FuturaPTLight", "sans-serif";
    width: 100vw;
    display: flex;
    justify-content: center;
    .close-icon {
        display: none;
    }
    .hamburger-menu {
        display: none;
    }
    .navigation {
        display: flex;
        justify-content: center;
        font-weight: 600; // border: 1px solid red;
        margin-top:1%;
        align-items: center;
        width: 60%;
        .back {
            display: none;
        }
        .navigation-list {
            display: flex;
            width: 100%;
            justify-content: space-between;
            flex-wrap: nowrap;
            .navigation-list-item {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 35%;
                height: 15vh;

                .navigation-list-item-anchor {
                    display: flex;
                    flex-wrap: wrap;
                    align-content: flex-end;
                    width: 65%;
                    height: 100%;
                    justify-content: center;
                    align-items: flex-end;
                    text-decoration: none;
                    color: #000;
                    text-transform: none;
                    .image-container {
                        padding: 1em;
                        .image-logo {
                            display: inline-block;
                            vertical-align: middle;
                            width: 2.88em;
                        }
                    }
                    .image-logo-text {
                        flex: 0 0 100%;
                        text-align: center;
                        font-size: 1.2em;
                        white-space: nowrap;
                    }
                }
                &:hover {
                    .image-container {
                        background-color: $black;
                        box-shadow: 0px 0px 5px #000;
                        border-radius: 100%;
                        .image-logo {
                            filter: invert(100%);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1600px) {
    .navigation {
        margin-top:2% !important;
    }
}


@media (max-width: 1000px) {
    .navigation {
        width:100% !important;
        margin-top:2% !important;
    }
}

@media (max-width: 550px) {
    .header-area {
        height: 100vh;
    }
    .navigation {
        height: 100vh;
        width: 89% !important;
        margin-top: 0 !important;
    }
    .navigation-list {
        height: 80%;
        flex-wrap: wrap !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        #project-list-item {
            order: 1;
            flex: 0 1 100%;
        }
        #parts-list-item {
            flex: 0 1 33%;
            order: 3;
        }
        #notebook-list-item {
            flex: 0 1 100%;
            order: 5;
        }
        #hp-list-item {
            flex: 0 1 33%;
            order: 2;
            .navigation-list-item-anchor {
                align-content: flex-end !important;
            }
        }
        #team-list-item {
            flex: 0 1 33%;
            order: 4;
            .navigation-list-item-anchor {
                align-content: flex-start !important;
            }
        }
        .navigation-list-item {
            .navigation-list-item-anchor {
                align-content: center !important;
                font-family: "FuturaPTLight", "sans-serif";
                .image-container {
                    order:2;
                    .image-logo {
                        width: 3.88em !important;
                    }
                }

                .image-logo-text {
                    font-size: 1.4em !important;
                    white-space: normal !important;
                }
            }
        }
        .navigation-list-item-anchor:first-child {
            align-content: center;
        }
    }
    .main-content-container {
        display: none;
    }
}