$black: #000;
$white: #fff;

.project-wrapper {
    display: flex;
    width:90vw;
    align-items: center;
}
.header-area {
    height:100vh;
    align-items: center;
    flex:2;
    .navigation {
        width: unset;
        border:1px solid blue;
        justify-content: flex-start;
        .navigation-list {
            flex-direction:column;
            justify-content: center;
            align-items: center;

        }
    }

}

.content-area {
    border:1px solid red;
    height:80%;
    flex:5;

    .text-wall-area {
        
    width: 50%;
    height: 80%;
    overflow-y: hidden;

    .text-wall-heading {
        color: #61afaa;
        font-size: 5em;
    }
    .text-wall-area-box {
        background-color: rgb(51, 47, 47);
        color:white;
        max-height:60vh;
        padding: 2em 2em;
    }
    }
}

.is-active {
    background-color: $black;
    box-shadow: 0px 0px 5px #000;
    border-radius: 100%;

    .image-logo {
        filter: invert(100%);
    }
}