$black: #000;
$white: #fff;

@font-face {
    font-family: "Futura";
    src: url("fonts/FuturaPTMedium.woff") format('woff');
}

@font-face {
    font-family: 'FuturaPTBook';
    src: url('../fonts/FuturaPTBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaLightOblique';
    src: url('../fonts/FuturaPTLightOblique.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPTLight';
    src: url('../fonts/FuturaPTLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*,
*::after,
*::before {
    margin:0;
    padding:0;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    body {
        background-color: #e7e7e8;
        font-family: "FuturaPTLight", "sans-serif";
        position: relative;
        overflow: hidden;
        
        display: -webkit-box;
        
        display: -ms-flexbox;
        
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;

        a {
            text-decoration: none;
            color:#000;
        }
    
        ul, ol {
            list-style: none;
        }
    }

    @import "Nav";
    @import "InvertBox";
    @import "LiposomeMain";
    @import "Submenu";

    .main-content-container {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        width:80%;
    }

    @media (max-width: 856px) {
        .image-logo-text {
            font-size: .9em !important;   
        }

        .sub-menu {
            font-size: .9rem;
        }
    }

    @media (max-width: 550px) {
        .main-content-container {
            display: none;
        }
    }
}