$black: #000;
$white: #fff;

*,
*::after,
*::before {
    margin:0;
    padding:0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;

    body {
        background-color: #e7e7e8;
        font-family: "Futura", sans-serif;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    a {
        text-decoration: none;
        color:#000;
    }

    ul, ol {
        list-style: none;
    }

    canvas {
        left:15%;
        border:2px solid black;
        background-color: #e7e7e8;
        position:absolute;
        height:50vh;
        z-index:-1;
    }
}

@font-face {
    font-family: "Futura";
    src: url("fonts/FuturaPTMedium.woff") format('woff');
}

header {
    width: 100vw;
    display: flex;
    justify-content: center;
}
.nav {
    display: flex;
    justify-content:center;
    margin-top:2.5%;
    align-items: center;
    width:60%;
    }

    .nav__nav-items {
        display: flex;
        width: 100%;
        justify-content:space-between;
        flex-wrap: nowrap;

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            width:35%;
            height:15vh;

            .image__container {
                padding:1em;
            }
            &:hover {
                .image__container {
                    background-color:$black;
                    box-shadow: 0px 0px 5px #000;
                    border-radius: 100%;
                }

                img {
                    filter:invert(100%);
                }

                .nav__nav-link {
                    width: 100%;
                    height:100%;
                }
            }
            .nav__nav-link {
                display: flex;
                flex-wrap: wrap;
                width:65%;
                height: 100%;
                justify-content: center;
                align-content: center;
                text-decoration: none;
                color:#000;
                text-transform: none;
            }

            .nav__nav-logo {
                width: 2.88em;
                height: 3em;
            }

            .nav__nav-logo-text {
                flex: 0 0 100%;
                margin-top: .5em;
                text-align: center;
                font-size:1.2em;
                white-space: nowrap;
            }
        }
    }

.invert-box {
    bottom:3em;
    right:3em;
    position:absolute;
    transition: transform .3s linear;
}

.invert-box:hover {
    transform: scale(1.3);
}
.invert-box__image {
    width:5em;
    height:5em;
}
.invert-box__invert-text {
    font-size: 1.3em;
    display: block;
    padding: .5em 0;
    text-align: center;
}

.sub-menu {
    position:absolute;
    top: 40vh;
    left:10vw;
    font-size: 1.35rem;

    ul {
        position: absolute;
        width:10vw;
        // transition: all 1s linear;
        visibility: hidden;
        transform: translateY(30vh);
        opacity:0;

        li {
            padding: .25em 0em;
        }
    }
}

.hexagon {
    display: flex;
    position: absolute;
    margin-top:5%;
    justify-content: center;
    align-items: flex-start;
    width: 50vw;

    video {
        display: inline-block;
        position:absolute;
        width: 70%;
        top:15vh;
        height:auto;
        z-index: 1;
    }

    .static-image {
        position:absolute;
        display: inline-block;
        top:15vh;
        width: 70%;
        height: auto;
    }
}

.invert-box {
    img {
        width: 2.88em;
        height: 3em;
    }

    .invert-text {
        display: block;
    }
}

// Tablet view

@media only screen and (max-width: 1024px) {
    .nav {
        width:90%;
        border: 1px solid black;
    }

    .nav__nav-logo-text {
        font-size:.4em;
    }
}