.sub-menu {
    flex:1;
    position: relative;
    font-size: 1.35rem;
    height:70vh;

    ul {
        width:15vw;
        top:20vh;
        position:absolute;
        transition: all 1s linear;
        visibility: hidden;
        transform: translateY(30vh);
        opacity:0;

        li {
            padding: .25em 0em;
        }
    }
}